{% extends 'base.html' %}

{% block content %}

<div class="wellcome slider">
    <div class="wellcome--slide" style="padding:30px">
        <h2 style="color: black;">Bem-vindo à Biblioteca Online do Grupo de Ciências Humanas!</h2>
        <p class="hide_mobile">Aqui você encontrará uma vasta coleção de livros, artigos e documentos nas áreas de antropologia, sociologia,
            história, psicologia, entre outras.
            Nossa missão é democratizar o acesso à informação e promover a difusão do conhecimento em ciências humanas.
            <br /> Explore nossa coleção e enriqueça seu conhecimento!
            Não perca esta oportunidade única de ter acesso a documentos exclusivos para aprimorar seus estudos e
            expandir seus conhecimentos em Ciências Humanas. Então, junte-se ao nosso grupo e convide seus amigos para
            fazer parte da comunidade!
            <br /> Nosso objetivo é promover o acesso ao conhecimento e à cultura, tornando disponível para todos
            materiais de
            qualidade que não são mais protegidos por leis de direitos autorais. Dessa forma, buscamos contribuir para a
            democratização do conhecimento e da educação
        </p>
    </div>
    <div style="padding:30px" class="wellcome--slide">
        <h2 style="color: black;">Exclusivo para membros do grupo de Ciências Humanas: Aproveite nossos documentos selecionados!</h2>
        <p class="hide_mobile">Se você é um membro do nosso grupo de Ciências Humanas, você tem acesso exclusivo a uma ampla variedade de
            documentos selecionados cuidadosamente para aprimorar seus estudos. Esses documentos incluem livros,
            artigos, pesquisas e muito mais, que são atualizados regularmente para fornecer o melhor conteúdo possível.
            <br />
            No entanto, lembre-se que o acesso a esses documentos é exclusivo para membros do grupo de Ciências Humanas.
            Mas você pode convidar um amigo para se juntar ao grupo e expandir a comunidade! Com mais membros, poderemos
            compartilhar ainda mais informações relevantes e úteis.
        </p>
    </div>
    <div style="padding:30px" class="wellcome--slide">
        <h2 style="color: black;">Aproveite nossas seleções escolhidas especialmente para estudantes e pesquisadores!</h2>
        <p class="hide_mobile">"Para ajudar na sua jornada acadêmica, nós selecionamos cuidadosamente uma variedade de documentos que podem
            ser úteis em seus estudos. Nossa equipe se esforçou para organizar esses materiais de forma clara e
            acessível, para que você possa facilmente encontrar o que precisa.
            <br />
            As seleções incluem livros, artigos, resumos e muito mais, abrangendo diversas áreas de estudo, como
            filosofia, matemática, literatura, ciências sociais e muito mais. Cada documento foi escolhido por sua
            qualidade e relevância para os estudantes universitários.
            <br />
            Então, se você está procurando materiais de referência para um trabalho acadêmico ou simplesmente quer
            expandir seus conhecimentos em um determinado assunto, confira nossas seleções especiais e aproveite ao
            máximo seus estudos universitários!"</p>
    </div>
</div>

<div class="container my-3">
    <div class="form-group">
        <input type="text" id="search-box" class="form-control search-bar" placeholder="Pesquisar um livro...">
        <small class="search-text">Encontre o livro que você procura</small>
    </div>
</div>
<style>
    .search-bar {
        border-radius: 20px;
        border-color: #6c757d;
        font-size: 18px;
        font-weight: 400;
        color: #343a40;
        padding: 15px;
        transition: border-color 0.2s ease-in-out;
    }

    .search-bar:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .search-text {
        color: #6c757d;
        font-size: 12px;
    }
</style>



<div class="container">
    <div class="row" id='pdf-list'>
    </div>
</div>



<div class="shelf">
    <p>John Ronald Reuel Tolkien foi um escritor e
        filólogo inglês. Ele foi o autor das obras de alta
        fantasia O Hobbit e O Senhor dos Anéis. De 1925
        a 1945, Tolkien foi o professor Rawlinson e Bosworth de
        anglo-saxão e membro do Pembroke College, ambos na Universidade de
        Oxford.</p>
    <div class="slick-carousel"></div>
</div>
<div class="shelf">
    <p>Carl Gustav Jung, foi uma das pessoas que deixou um verdadeiro legado para a humanidade. Foi com certeza um dos maiores pensadores da sua época, um homem original, cujas ideias são hoje mencionadas até mesmo por pessoas que nunca ouviram falar do grande psiquiatra suíço.

Provavelmente, você leitor, já utilizou ou ouviu as expressões “introvertido”, “extrovertido”, “inconsciente coletivo” entre outras. Esses conceitos foram desenvolvidos e aplicados dentro da sua teoria. Aqui teremos um breve descrito sobre quem foi esse homem e suas principais ideias.

Carl Gustav Jung nasceu em 26 de julho de 1875, na Turgóvia – Suíça, com formação médica em psiquiatria. Fundou a Psicologia Analítica e desenvolveu os conceitos de personalidade extrovertida e introvertida, arquétipo e inconsciente coletivo. Sua teoria tem influência na psiquiatria, psicologia, ciências de religião, literatura..</p>
    <div class="slick-carousel-custom"></div>
</div>
<div class="shelf">
    <p>Sigmund Freud (1856-1939) foi um médico e pesquisador austríaco que criou a Psicanálise, método utilizado para o tratamento de doenças mentais. Suas teorias modificaram a maneira de ver o ser humano e influenciaram a Medicina, a Educação, as Artes, tornando-o um grande ícone do século XX.</p>
    <div class="slick-carousel-custom-2"></div>
</div>
<div class="shelf">
    <p>A Coleção 90 minutos, escrita por Paul Strathern, conta com cerca de 34 volumes, marcados por um texto
        bastante claro e conciso sobre a vida e o pensamento de grandes nomes da filosofia, representantes
        de diversas escolas e períodos: Aristóteles, Sartre, Platão, Foucault, Hegel, Arquimedes,e muitos outros...</p>
    <div class="slick-carousel-2"></div>
</div>
<div class="shelf">
    <p>Na base do pensamento de Marx está a idéia de que tudo se encontra em constante processo de mudança.
    O motor da mudança são os conflitos resultantes das contradições de uma mesma realidade.
    Para Marx, o conflito que explica a história é a luta de classes</p>
    <div class="slick-carousel-3"></div>
</div>


<div id="preload">
    <div class="loading-spinner"></div>
    <p>Carregando...</p>
  </div>


<!-- Scripts jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Scripts personalizados -->

{% endblock %}